# Web-Scraping part of IMDB project

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

imdbTop50 = "https://www.imdb.com/list/ls053501318/"
page = requests.get(imdbTop50)
# get whole html of page
soup = BeautifulSoup(page.text,'html.parser')

# get main content of page
content = soup.find("div", class_="lister-list")

actorDf = pd.DataFrame()
counter = 0
ranks = []
actorNames = []
linksToActorSite = []

for row in content.find_all(class_="lister-item mode-detail"):
    counter += 1
    ranks.append(counter)
    for col in row.find_all(class_="lister-item-content"):
        # Extract the URLs of each actor page
        linksToActorSite.append(col.find("h3").find("a", href=True)["href"])
        
        for nameHeader in col.h3.a:
            # Extract the names of actors in top 50 list
            actorNames.append(nameHeader.text.replace("\n", ""))
            
# Create a DataFrame from the extracted data        
actorDf["Ranking"] = ranks
actorDf.set_index("Ranking")
actorDf["Actor Names"] = actorNames
actorDf

    Ranking             Actor Names
0         1             Johnny Depp
1         2               Al Pacino
2         3          Robert De Niro
3         4            Kevin Spacey
4         5       Denzel Washington
5         6           Russell Crowe
6         7               Brad Pitt
7         8          Angelina Jolie
8         9       Leonardo DiCaprio
9        10              Tom Cruise
10       11           John Travolta
11       12   Arnold Schwarzenegger
12       13      Sylvester Stallone
13       14            Kate Winslet
14       15          Christian Bale
15       16          Morgan Freeman
16       17            Keanu Reeves
17       18            Nicolas Cage
18       19            Hugh Jackman
19       20           Edward Norton
20       21            Bruce Willis
21       22               Tom Hanks
22       23         Charlize Theron
23       24              Will Smith
24       25            Sean Connery
25       26         Keira Knightley
26       27              Vin Diesel
27       28              Matt Damon
28       29            Richard Gere
29       30    Catherine Zeta-Jones
30       31              Clive Owen
31       32              Mel Gibson
32       33          George Clooney
33       34          Jack Nicholson
34       35      Scarlett Johansson
35       36               Tom Hardy
36       37       Robert Downey Jr.
37       38           Orlando Bloom
38       39            Ian McKellen
39       40        Antonio Banderas
40       41              Guy Pearce
41       42       Samuel L. Jackson
42       43          Sandra Bullock
43       44                Meg Ryan
44       45               Megan Fox
45       46           Nicole Kidman
46       47           Gerard Butler
47       48             Simon Baker
48       49            Cameron Diaz
49       50         Katherine Heigl

### Define function to send request to websites and to parse HTML Content unsing BeautifulSoup

In [2]:
def get_html_page(url):
                               #to verify that the request comes from an browser and so get acces to the site
    response=requests.get(url, headers={"User-Agent":"Mozilla/5.0"})
    # check successfull response
    if response.status_code != 200:
        raise Exception(f'{response.status_code} Failed to load page {url}')
    # Parse HTML content using BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    return soup

### Get more data of actors (about and awards) in 2. website: imdb actor pages

In [3]:
baseUrl = "https://www.imdb.com"
about = []
winnigAwards = []

# Iterate through the actor URLs
for link in linksToActorSite:
    actorUrl = baseUrl + link
    # Send a GET request to the actor page
    soup = get_html_page(actorUrl)
    # Extract about section of Actor, first chars are enought. No need for whole biography
    about_temp = soup.find("div", class_="ipc-html-content-inner-div").text[:800] + "..."
    about.append(about_temp)
    # Extract winning Awards of Actor
    awards_temp = soup.find("label", class_="ipc-metadata-list-item__list-content-item").text[:3]
    # to get clean data: getting rid off char at end of string to have just the number
    winnigAwards.append(int(awards_temp.replace("w", "")))
    
# adding extracted data to actors dataframe
actorDf["About"] = about
actorDf["Winnig Awards"] = winnigAwards
actorDf

,Ranking,Actor Names,About,Winnig Awards
0,1,Johnny Depp,"John Christopher ""Johnny"" Depp II was born on ...",81
1,2,Al Pacino,"Alfredo James ""Al"" 'Pacino established himself...",53
2,3,Robert De Niro,"One of the greatest actors of all time, Robert...",68
3,4,Kevin Spacey,"Kevin Spacey Fowler, better known by his stage...",59
4,5,Denzel Washington,"Denzel Hayes Washington, Jr. was born on Decem...",87
5,6,Russell Crowe,"Russell Ira Crowe was born in Wellington, New ...",37
6,7,Brad Pitt,"William Bradley ""Brad"" Pitt was born on Decemb...",122
7,8,Angelina Jolie,Angelina Jolie is an Academy Award-winning act...,58
8,9,Leonardo DiCaprio,Few actors in the world have had a career quit...,102
9,10,Tom Cruise,"In 1976, if you had told fourteen-year-old Fra...",57
10,11,John Travolta,"John Joseph Travolta was born in Englewood, Ne...",52
11,12,Arnold Schwarzenegger,With an almost unpronounceable surname and a t...,30
12,13,Sylvester Stallone,"Sylvester Stallone is a athletically built, da...",64
13,14,Kate Winslet,Ask Kate Winslet what she likes about any of h...,104
14,15,Christian Bale,Christian Charles Philip Bale was born in Pemb...,82
15,16,Morgan Freeman,"With an authoritative voice and calm demeanor,...",66
16,17,Keanu Reeves,"Keanu Charles Reeves, whose first name means ""...",13
17,18,Nicolas Cage,Nicolas Cage was born Nicolas Kim Coppola in L...,61
18,19,Hugh Jackman,"Hugh Michael Jackman is an Australian actor, s...",33
19,20,Edward Norton,"American actor, filmmaker and activist Edward ...",48
20,21,Bruce Willis,Actor and musician Bruce Willis is well known ...,21
21,22,Tom Hanks,"Thomas Jeffrey Hanks was born in Concord, Cali...",92
22,23,Charlize Theron,"Charlize Theron was born in Benoni, a city in ...",69
23,24,Will Smith,"Willard Carroll ""Will"" Smith II (born Septembe...",91
24,25,Sean Connery,"The tall, handsome and muscular Scottish actor...",39
25,26,Keira Knightley,"Keira Christina Knightley was born March 26, 1...",28
26,27,Vin Diesel,Vin Diesel was born Mark Sinclair in Alameda C...,7
27,28,Matt Damon,"Matthew Paige Damon was born on October 8, 197...",36
28,29,Richard Gere,Humanitarian and actor Richard Gere was born o...,21
29,30,Catherine Zeta-Jones,"Catherine Zeta-Jones was born September 25, 19...",19
30,31,Clive Owen,British actor Clive Owen is one of a handful o...,22
31,32,Mel Gibson,Mel Columcille Gerard Gibson was born January ...,44
32,33,George Clooney,"George Timothy Clooney was born on May 6, 1961...",95
33,34,Jack Nicholson,"Jack Nicholson, an American actor, producer, d...",90
34,35,Scarlett Johansson,Scarlett Ingrid Johansson was born on November...,70
35,36,Tom Hardy,With his breakthrough performance as Eames in ...,23
36,37,Robert Downey Jr.,Robert Downey Jr. has evolved into one of the ...,43
37,38,Orlando Bloom,Orlando Jonathan Blanchard Copeland Bloom was ...,29
38,39,Ian McKellen,Widely regarded as one of greatest stage and s...,53
39,40,Antonio Banderas,"Antonio Banderas, one of Spain's most famous f...",65
40,41,Guy Pearce,"Guy Edward Pearce was born October 5, 1967 in ...",12
41,42,Samuel L. Jackson,Samuel L. Jackson is an American producer and ...,47
42,43,Sandra Bullock,"Sandra Annette Bullock was born in Arlington, ...",81
43,44,Meg Ryan,"Blond-haired, blue-eyed with an effervescent p...",12
44,45,Megan Fox,"Megan Denise Fox was born on May 16, 1986 in O...",8
45,46,Nicole Kidman,"Elegant Nicole Kidman, known as one of Hollywo...",112
46,47,Gerard Butler,"Gerard James Butler was born in Paisley, Scotl...",4
47,48,Simon Baker,"Simon Baker was first recognized in 1992, when...",9
48,49,Cameron Diaz,"A tall, strikingly attractive blue-eyed natura...",29
49,50,Katherine Heigl,"Katherine Marie Heigl was born on November 24,...",10

### Get corresponding Movies-data of the actors in 3. website: IMDB search title page

In [7]:
# title_type=feature to get all Movies, count parameter to display all movies of actor, role parameter so search with actor id
searchSite = "/search/title/?title_type=feature&count=250&role="
# Actor Ranking is foreign key of actor dataframe to keep track to which actor the movies belong
movieDf = pd.DataFrame(columns=['Actor Ranking', 'Title', 'Year', 'Genre', 'Rating'])
actorIds = []
counter = 1

# extract all actor ids from actor site to search for all movies (id format: nm000000)
for link in linksToActorSite:
    actorIds.append(link[6:16])

for actorId in actorIds: 
    searchTitlesUrl = baseUrl + searchSite + actorId
    soup = get_html_page(searchTitlesUrl)
    # Extract section that contains all Movies (default sorting by IMDB is by popularity)
    filmography = soup.find(class_="lister-list")
    for movie in filmography.find_all(class_="lister-item-content"):
        header = movie.find("h3", class_="lister-item-header")
        # Extract the details of each Movie
        title = header.find("a").text # titles are in german!
        year = header.find(class_="lister-item-year text-muted unbold").text.replace("(I)", "")
        ratingElement = movie.find(class_="inline-block ratings-imdb-rating")
        # set value then it exists, because some movies dont have data of rating and genres!
        rating = ratingElement.text.replace("\n", "") if ratingElement else "Null"
        genreElement = movie.find(class_="genre")
        genre = genreElement.text.replace("\n", "").strip() if genreElement else "Null"
        
        # insert movie data as row in dataframe
        insertRow = {'Actor Ranking':counter, 'Title':title, 'Year':year,'Genre':genre, 'Rating': rating}
        movieDf = pd.concat([movieDf, pd.DataFrame([insertRow])], ignore_index=True)
        
    counter += 1
  
movieDf

,Actor Ranking,Title,Year,Genre,Rating
0,1,Mord im Orient-Express,(2017),"Crime, Drama, Mystery",6.5
1,1,Fluch der Karibik,(2003),"Action, Adventure, Fantasy",8.1
2,1,21 Jump Street,(2012),"Action, Comedy, Crime",7.2
3,1,Tusk,(2014),"Comedy, Horror",5.3
4,1,Charlie und die Schokoladenfabrik,(2005),"Adventure, Comedy, Family",6.7
...,...,...,...,...,...
3555,50,Caffeine,(2006),Comedy,5.4
3556,50,Descendant,(2003),"Horror, Thriller",4.1
3557,50,Side Effects,(2005),"Comedy, Drama, Romance",4.9
3558,50,Bug Buster,(1998),"Comedy, Horror, Sci-Fi",3.9
3559,50,Stardust - Entscheidung in Hollywood,(1997),Drama,4.8

### Data Cleaning:

In [8]:
# not much to do, because data was mostly collected in right format but:
# delete all rows without a release Year of the Movie:
#because this are announced Titles that are not released jet and dont have any data 
# (delets 387 of 3560 movie-rows)
movieDf = movieDf[movieDf["Year"] != ""]

# delete all rows without a rating of the Movie, because they are not jet released too or not relevant enough:
# (delets 98 of 3173 remaining movie-rows)
movieDf = movieDf[movieDf["Rating"] != "Null"]
# now we have a complete dataset with all relevant movies, that where released and have a rating
movieDf

,Actor Ranking,Title,Year,Genre,Rating
0,1,Mord im Orient-Express,(2017),"Crime, Drama, Mystery",6.5
1,1,Fluch der Karibik,(2003),"Action, Adventure, Fantasy",8.1
2,1,21 Jump Street,(2012),"Action, Comedy, Crime",7.2
3,1,Tusk,(2014),"Comedy, Horror",5.3
4,1,Charlie und die Schokoladenfabrik,(2005),"Adventure, Comedy, Family",6.7
...,...,...,...,...,...
3555,50,Caffeine,(2006),Comedy,5.4
3556,50,Descendant,(2003),"Horror, Thriller",4.1
3557,50,Side Effects,(2005),"Comedy, Drama, Romance",4.9
3558,50,Bug Buster,(1998),"Comedy, Horror, Sci-Fi",3.9
3559,50,Stardust - Entscheidung in Hollywood,(1997),Drama,4.8

### Export dataframes to csv files:

In [9]:
actors_csv_data = actorDf.to_csv('top50Actors.csv')
movies_csv_data = movieDf.to_csv('moviesOfActors.csv')